<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function allUserList(){
    location.href="/user/allUserList";
 }
</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<h1>관리자페이지</h1>
<button type="button" class="btn" onclick="allUserList()">유저리스트보기</button>
</div>
</body>
</html>