<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
   function registForm(){
      location.href="/user/addUser";
   }
</script>
<style type="text/css">
   .soori{ width:250px; height:250px;}

</style>
</head>
<body>
<div layout:fragment="content">

<form action="/user/login" method="post" onsubmit="return userIdCookie()" id="home">
<h1>수리의 날갯짓 </h1>
<br/>

<img class="soori" th:src="@{/css/soori.gif}" />

<input class="loginVal" type="text" name="id" placeholder="ID" required="required" />
<input class="loginVal" type="password" name="password" placeholder="PASSWORD" required="required" />
<button type="submit">Sign in</button>
<button type="button" onclick="registForm()">Sign Up</button>
</form>
</div>
</body>
</html>